basePath: /api/v1
definitions:
  common.Pagination:
    properties:
      page:
        default: 1
        minimum: 1
        type: integer
      page_size:
        default: 50
        maximum: 50
        minimum: 1
        type: integer
      total_pages:
        type: integer
      total_rows:
        type: integer
    type: object
  common.PaginationResponse-content_CategoryResponse:
    properties:
      data:
        items:
          $ref: '#/definitions/content.CategoryResponse'
        type: array
      pagination: {}
    type: object
  common.PaginationResponse-content_ChannelResponse:
    properties:
      data:
        items:
          $ref: '#/definitions/content.ChannelResponse'
        type: array
      pagination: {}
    type: object
  common.PaginationResponse-content_VideoResponse:
    properties:
      data:
        items:
          $ref: '#/definitions/content.VideoResponse'
        type: array
      pagination: {}
    type: object
  content.CategoryResponse:
    properties:
      id:
        type: string
      name:
        type: string
    type: object
  content.ChannelResponse:
    properties:
      category:
        $ref: '#/definitions/content.CategoryResponse'
      channel:
        type: string
      channel_id:
        type: string
      disabled_at:
        type: string
      disabled_until:
        type: string
      id:
        type: string
      last_fetch:
        type: string
      uploader_id:
        type: string
    type: object
  content.ChannelSummary:
    properties:
      category:
        $ref: '#/definitions/content.CategoryResponse'
      channel:
        type: string
      id:
        type: string
    type: object
  content.VideoResponse:
    properties:
      channel:
        $ref: '#/definitions/content.ChannelSummary'
      display_id:
        type: string
      duration:
        type: integer
      full_title:
        type: string
      id:
        type: string
      language:
        type: string
      thumbnail:
        type: string
      timestamp:
        type: string
      video_type:
        $ref: '#/definitions/content.VideoType'
    type: object
  content.VideoType:
    enum:
    - regular
    - short
    type: string
    x-enum-varnames:
    - VideoTypeRegular
    - VideoTypeShort
host: localhost:8080
info:
  contact: {}
  license:
    name: MIT License
    url: https://github.com/mY9Yd2/ytcw/blob/main/LICENSE.md
  title: ytcw API
  version: "1.0"
paths:
  /categories:
    get:
      description: Get a paginated list of categories ordered by name in ascending
        order
      parameters:
      - description: page
        in: query
        name: page
        type: integer
      - description: page size
        in: query
        name: page_size
        type: integer
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            allOf:
            - $ref: '#/definitions/common.PaginationResponse-content_CategoryResponse'
            - properties:
                data:
                  items:
                    $ref: '#/definitions/content.CategoryResponse'
                  type: array
                pagination:
                  $ref: '#/definitions/common.Pagination'
              type: object
      summary: List categories
      tags:
      - Categories
  /channels:
    get:
      description: Get a paginated list of channels ordered by channel in ascending
        order
      parameters:
      - description: page
        in: query
        name: page
        type: integer
      - description: page size
        in: query
        name: page_size
        type: integer
      - description: category name
        in: query
        name: category
        type: string
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            allOf:
            - $ref: '#/definitions/common.PaginationResponse-content_ChannelResponse'
            - properties:
                data:
                  items:
                    $ref: '#/definitions/content.ChannelResponse'
                  type: array
                pagination:
                  $ref: '#/definitions/common.Pagination'
              type: object
      summary: List channels
      tags:
      - Channels
  /videos:
    get:
      description: Get a paginated list of videos ordered by created_at in descending
        order
      parameters:
      - description: page
        in: query
        name: page
        type: integer
      - description: page size
        in: query
        name: page_size
        type: integer
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            allOf:
            - $ref: '#/definitions/common.PaginationResponse-content_VideoResponse'
            - properties:
                data:
                  items:
                    $ref: '#/definitions/content.VideoResponse'
                  type: array
                pagination:
                  $ref: '#/definitions/common.Pagination'
              type: object
      summary: List videos
      tags:
      - Videos
swagger: "2.0"
